/* create three equal columns */
.column {
    float: left;
    width: 33.33%;
    height: 600px;
}

.column#right, .column#left {
    text-align: center;
}

.column#middle {
    text-align: center;
}

#logo {
    height: 50%;
    width: auto; 
    max-width: 75%;
    object-fit: contain;
    vertical-align: right;
    margin-top: 30%;
    margin-left: 12%;
}
h1 {
    font-family: "Helvetica Neue";
    color: #707070;
    font-size: 20px;
    margin: 2px;
    margin-top: 38%;
    margin-left: 6.5%;
}

#download {
    height: 11.5%;
    width: auto; 
    max-width: 65%;
    object-fit: contain;
    vertical-align: middle;
    margin-top: 5%;
    margin-left: 6.5%;
}

#phone {
    height: 83%;
    width: auto; 
    max-width: 75%;
    object-fit: contain;
    vertical-align: middle;
    margin-top: 10%;
    margin-right: 12%;
}

footer {
   position: fixed;
   bottom: 0;
   left: 0;
   height: 10%;
   width: 100%;
   max-width:100%;
   background-color: #FFD629 ;
   text-align: center;
}

footer a {
    font-size: 20px;
    font-family: "Helvetica Neue";
    color: white;
    padding: 2px;
    border: solid;
    border-color: #2C2C2C;
    border-radius: 10px;
    background-color: #2C2C2C;
    text-decoration: none;
    object-fit: contain;
    margin-left: 2.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer a:hover {
    text-decoration:none;
    opacity: 0.7;
    color:white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: 350px;
      
    }

    .column#left {
        height: 300px;
    }

    .column#right {
        height: 500px;
        border-top: solid;
        border-color: #FFD629;
        border-width: 1px;
        padding-top: 20px;
    }
    
    .column#middle {
        border-top: solid;
        border-color: #FFD629;
        border-width: 1px;
        padding-top: 20px;
        height: 150px;
    }
    #logo {
        margin: auto;
        margin-top: 10%;
        height: 75%;
        width: auto; 
        max-width: 75%;
    }

    h1 {
        margin: auto;
        margin-top: 5%;
        font-size: 17.5px;
        color: #707070;
    }

    #download {
        margin:auto;
        margin-top: 3%;
        height: 40%;
        width: auto; 
        max-width: 40%;

    }
    #phone {
        margin:auto;
        height: 80%;
        width: auto; 
        max-width: 60%;
    }

    footer a {
        font-size: 15px;
        margin:auto;
    }
  }

  


